<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.l_5411.bookdemo">

    <permission
        android:name="com.l_5411.bookdemo.chapter_2.aidl.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.l_5411.bookdemo.chapter_2.aidl.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter_2.Chapter2Activity"
            android:label="Chapter 2" />
        <activity
            android:name=".chapter_4.Chapter4Activity"
            android:label="Chapter 4" />
        <activity
            android:name=".chapter_5.Chapter5Activity"
            android:label="Chapter 5" />
        <activity
            android:name=".chapter_6.Chapter6Activity"
            android:label="Chapter 6" />
        <activity
            android:name=".chapter_7.Chapter7Activity"
            android:label="Chapter 7" />

        <activity android:name=".chapter_8.Chapter8Activity"
            android:label="Chapter 8"/>

        <!-- chapter_2.messenger -->
        <activity
            android:name=".chapter_2.messenger.MessengerActivity"
            android:label="MessengerActivity" />

        <service
            android:name=".chapter_2.messenger.MessengerService"
            android:process=":remote" />

        <!-- chapter_2.aidl -->
        <service
            android:name=".chapter_2.aidl.BookManagerService"
            android:process=":remote" />

        <activity
            android:name=".chapter_2.aidl.BookManagerActivity"
            android:label="BookManagerActivity" />

        <!-- chapter_2.provider -->
        <provider
            android:name=".chapter_2.provider.BookProvider"
            android:authorities="com.l_5411.bookdemo.chapter_2.provider"
            android:permission="com.l_5411.bookdemo.PROVIDER"
            android:process=":provider" />

        <activity
            android:name=".chapter_2.provider.ProviderActivity"
            android:label="ProviderActivity" />

        <!-- chapter_2.socket -->
        <service
            android:name=".chapter_2.socket.TCPServerService"
            android:process=":remote" />

        <activity
            android:name=".chapter_2.socket.TCPClientActivity"
            android:label="TCPClientActivity" />

        <!-- chapter_2.binder_pool -->
        <activity
            android:name=".chapter_2.binder_pool.BinderPoolActivity"
            android:label="BinderPoolActivity" />

        <service
            android:name=".chapter_2.binder_pool.BinderPoolService"
            android:process=":remote" />

        <!-- chapter_4.circle_view -->
        <activity
            android:name=".chapter_4.circle_view.CircleActivity"
            android:label="CircleActivity" />

        <!-- chapter_4.horizontal_scroll_view -->
        <activity
            android:name=".chapter_4.horizontal_scroll_view.HorizontalScrollActivity"
            android:label="HorizontalScrollActivity" />

        <!-- chapter_5.notification -->
        <activity
            android:name=".chapter_5.notification.NotificationActivity"
            android:label="NotificationActivity" />

        <!-- chapter_5.widget_provider -->
        <receiver android:name=".chapter_5.widget_provider.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.l_5411.bookdemo.chapter_5.widget_provider.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <!-- chapter_5.simulated_notification -->
        <activity
            android:name=".chapter_5.simulated_notification.LocalActivity"
            android:label="LocalActivity" />
        <activity
            android:name=".chapter_5.simulated_notification.RemoteActivity"
            android:label="RemoteActivity"
            android:process=":remote" />
        <activity
            android:name=".chapter_7.LayoutAnimActivity"
            android:label="LayoutAnimActivity" />
        <activity
            android:name=".chapter_7.TestActivity"
            android:label="TestActivity" />
        <activity
            android:name=".chapter_7.property_animation.PropertyActivity"
            android:label="PropertyActivity" />

    </application>

</manifest>